<style type="text/css">
    #errorlist{
        color: #e2001a;
    }

    #form_connect{
        text-align: left;
        position: relative;
        left: 300px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #field{
        display: flex; 
    }

    #error{
        display: table-column;
    }

    @media screen and (max-width: 1280px)
    {
        #field{
            flex-direction: column;
            justify-content: space-between; 
        }

        #form_connect{

            left: 10px;
        }

    }  
</style>
{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Merci d'essayer à nouveau.</p>
{% endif %}

<div class="col-lg-12">
    <h1 class="text-uppercase text-white font-weight-bold justify-content-center text-center">Changer mon mot de passe</h1>
</div>

<form action="{% url 'pwd_change' %}" method="post" class="col-lg-12 align-self-baseline" id="form_connect">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="col-lg-10" id="field">
        <div class="fieldWrapper col-lg-5">
            {{ form.old_password.errors }}
            <p><label for="{{ form.old_password.id_for_label }}">Ancien mot de passe:</label>
            {{ form.old_password }}</p>
        </div>
        <div class="fieldWrapper col-lg-5">
            {{ form.new_password1.errors }}
            <p><label for="{{ form.new_password1.id_for_label }}">Nouveau mot de passe:</label>
            {{ form.new_password1 }}</p>
        </div>
    </div>
    <div class="col-lg-10" id="field">
        <div class="fieldWrapper col-lg-5">
            {{ form.new_password2.errors }}
            <p><label for="{{ form.new_password2.id_for_label }}">Confirmer le mot de passe:</label>
            {{ form.new_password2 }}</p>
        </div>
        <div class="fieldWrapper col-lg-5">
            <input type="submit" value="Valider" id="submit" class="btn btn-primary btn-search"/>
        </div>
    </div>
</form>
{% endblock %}