<style type="text/css">
	
	#container{
		background-color: #de9440;
	}

</style>
{% extends "base.html" %}
{% block content %}
<div>
    <h1>Mentions légales</h1>
</div>
<div>
	<p>Proposer un site au grand public lui permettant de tester et d'améliorer ces connaissances sur des questions écologiques et citoyennes, est une idée originale de <a href="https://www.linkedin.com/in/louis-courau-1a694782/">Louis Courau.</a></p>
	<p>Ce site a été crée par Hélène Courau. Il est hébergé sur Heroku.</p>
	<p>Les icônes et images de ce site ont été mises à disposition par <a href="https://fontawesome.com/" target = "blank">FontAwesome.</a></p>
	<p>Crédits : Image par <a href="https://pixabay.com/fr/users/AnnaliseArt-7089643/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5403232">Annalise Batista</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5403232">Pixabay</a></p>
</div>  
</div>
	
{% endblock %}